@charset "UTF-8";
* {
  margin: 0px; }

.display-cel {
  display: none; }

.font-play, label, p, h6, h5, h4, .card-body h3, .slidermain h2, .navmain, .slidermain h6, .contactomain {
  font-family: 'Play', sans-serif;
  font-weight: 200; }

.font-philo, input, h3, h2, h1, .slidermain h1, .noti1 h4, .h4form {
  font-family: 'Philosopher', sans-serif; }

.color-sec, .slidermain h6, .contactomain ul li a:hover, .contactomain ul li a:active, .ayudacont h6, .footer-list p, .footer-list a:hover {
  color: #dac274; }

.botonh {
  margin-top: 00px; }

img {
  transition-property: all;
  transition-duration: .5s;
  transition-delay: .5s;
  transition-timing-function: ease; }

img:hover {
  transform: scale(1.05); }

label {
  font-size: 12px;
  text-align: left; }

input {
  font-size: 16px;
  font-weight: 800;
  text-align: left; }

p {
  font-size: 17px;
  text-align: left; }

h6 {
  font-size: 25px;
  margin: 0px; }

h5 {
  font-size: 45px; }

h4 {
  font-size: 55px;
  margin: 0px;
  transition-property: all;
  transition-duration: .5s;
  transition-delay: .5s;
  transition-timing-function: ease; }

h3 {
  font-size: 70px;
  margin: 0px; }

.card-body h3 {
  font-size: 40px;
  font-weight: 900; }

.slidermain h2 {
  font-size: 40px;
  margin: 0px;
  color: #dac274; }

h2 {
  font-size: 80px; }

h1 {
  font-size: 90px;
  margin: 0px; }

a {
  color: white;
  font-family: 'Play', sans-serif; }

ul {
  margin: 0px;
  display: inline-block; }
  ul li {
    display: block;
    /* margin: 0 5px; */ }

nav ul li {
  display: block;
  margin: 0 10px; }

header div {
  display: flex;
  flex-direction: row;
  align-items: center; }

@font-face {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format("woff2");
  font-display: swap; }

nav {
  z-index: 3; }

.contenedor {
  /* clases de flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap-reverse; */
  /* justify-content: space-evenly; */
  justify-content: space-evenly;
  align-content: center; }

.navmain {
  background-color: black;
  color: white;
  image-orientation: inherit;
  font-size: large;
  font-weight: 500;
  padding: 20px;
  position: sticky;
  top: 0;
  /* Estilo grid */
  display: grid;
  grid-template-areas: "logo" "menu" "slider" "main" "footer";
  justify-content: center;
  align-items: center;
  align-content: center; }
  .navmain ul li {
    display: inline-block;
    /* margin: 0 5px; */
    text-align: center; }
    .navmain ul li a {
      display: inline-block;
      text-decoration: none; }

.navmain ul li a:hover, .navmain ul li a:active {
  text-shadow: 2px 2px 4px #9b9b9b, 0 0 10px #4b4b4b, 0 0 50px white, 1px 1px 4px black; }

/* Para grid */
.logo {
  grid-area: logo;
  margin: 5px 0 25px 0;
  padding-left: 00px;
  display: flex;
  justify-content: center; }

.menu {
  grid-area: menu;
  margin-bottom: 25px; }

.social-media {
  grid-area: social-media;
  margin-bottom: 25px;
  visibility: hidden; }

.navbar-nav {
  margin-top: 50px; }

.slidermain {
  grid-area: slider; }

/* --------------------------------------- */
/* SLIDER MAIN DE TODAS LAS PÁGINAS */
/* --------------------------------------- */
.slidermain {
  background-image: url(../img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  position: relative;
  padding: 40px;
  background-color: black;
  color: white;
  image-orientation: inherit;
  font-family: 'Play', sans-serif; }
  .slidermain h1 {
    font-size: 70px;
    text-align: left;
    line-height: 0.75;
    text-shadow: 2px 2px 4px #9b9b9b, 0 0 10px #dac274, 0 0 50px black, 1px 1px 4px black;
    margin: 50px 0px 50px 0px; }
  .slidermain h6 {
    font-size: 25px;
    font-weight: 100;
    text-align: left; }

.sliderlinea {
  width: 90%;
  height: 10px; }

.videomain {
  width: 100%;
  height: 55.25vw; }

:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --charizard1: #fac;
  --charizard2: #ddccaa;
  --charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp);
  --pika1: #54a29e;
  --pika2: #a79d66;
  --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp);
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
  --eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp);
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;
  --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp); }

.card2 {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center; }
  @media screen and (min-width: 600px) {
    .card2 {
      width: clamp(12.9vw, 61vh, 18vw);
      height: clamp(18vw, 85vh, 25.2vw); } }

.card2:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5); }

.card2.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront); }

.card2.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront); }

.card2.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront); }

.card2.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront); }

.card2:before,
.card2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease; }

.card2:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: .5;
  filter: brightness(0.5) contrast(1);
  z-index: 1; }

.card2:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75; }

.card2.active:after,
.card2:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1; }

.card2.active,
.card2:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out; }

.card2.active:before,
.card2:hover:before {
  animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(0.66) contrast(1.33);
  transition: none; }

.card2.active:before,
.card2:hover:before,
.card2.active:after,
.card2:hover:after {
  animation: none;
  transition: none; }

.card2.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1; }
  .card2.animated:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1; }
  .card2.animated:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1; }

@keyframes holoSparkle {
  0%, 100% {
    opacity: .75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25); }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2); }
  13%, 16% {
    opacity: .5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8); }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1); }
  55% {
    opacity: .33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25); } }

@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1); }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25); }
  13%, 17% {
    background-position: 0% 0%;
    opacity: .88; }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1); }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25); } }

@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg); }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg); }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg); }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg); }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg); } }

.card2.eevee:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5); }

.card2.eevee:hover:before,
.card2.eevee.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%); }

.demo .card2 {
  background-image: var(--back);
  font-size: 2vh; }

.demo .card2 > span {
  position: relative;
  top: 45%; }

.demo .card2:nth-of-type(1),
.demo .card2:nth-of-type(2),
.demo .card2:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  animation: none; }

.demo .card2:nth-of-type(1):before, .demo .card2:nth-of-type(1):after,
.demo .card2:nth-of-type(2):before,
.demo .card2:nth-of-type(2):after,
.demo .card2:nth-of-type(3):before,
.demo .card2:nth-of-type(3):after {
  animation: none; }

.demo .card2:nth-of-type(1):before, .demo .card2:nth-of-type(1):after {
  display: none; }

.demo .card2:nth-of-type(2) {
  background: none; }
  .demo .card2:nth-of-type(2):before {
    display: none; }

.demo .card2:nth-of-type(3) {
  background: none; }
  .demo .card2:nth-of-type(3):after {
    display: none; }

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh; }

.demo,
.card2s {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px); }

.demo {
  flex-direction: row;
  justify-content: center; }

@media screen and (min-width: 600px) {
  .card2s {
    flex-direction: row; } }

.card2s .card2:nth-child(2), .card2s .card2:nth-child(2):before, .card2s .card2:nth-child(2):after {
  animation-delay: 0.25s; }

.card2s .card2:nth-child(3), .card2s .card2:nth-child(3):before, .card2s .card2:nth-child(3):after {
  animation-delay: 0.5s; }

.card2s .card2:nth-child(4), .card2s .card2:nth-child(4):before, .card2s .card2:nth-child(4):after {
  animation-delay: 0.75s; }

main {
  grid-area: main; }

/* ------------------------ */
/* INICIO Sección del main de la página */
/* ------------------------ */
.infoback {
  background-image: url(../img/banner-con.webp); }

.infoback-pag {
  background-image: url(../img/banner-con.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.info-title-pag {
  text-shadow: 2px 2px 4px #9b9b9b, 0 0 10px #4b4b4b, 0 0 50px white, 1px 1px 4px black; }

.infomain {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 5px;
  background-color: #e4e4e4;
  display: grid;
  grid-column: 3fr;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  /* grid-template-columns: 50px 80px 100px; */
  /* grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 50px 150px 80px; */
  /* grid-template-areas: 
    "header header"
    "nav main"
    "footer footer"
    ; */
  /* justify-items: flex-start; */
  /* align-items: start; */
  /* grid-gap: 1%; */ }

.noti1 {
  width: 240px;
  margin: 0 10px 0;
  border: inset 1px #dac274;
  text-align: center;
  background-color: white; }
  .noti1 h4 {
    margin: 20px 20px 30px 20px; }
  .noti1 p {
    margin: 30px 20px 40px 20px;
    padding: 0px 10px 0px;
    text-align: center; }

/* ------------------------ */
/* FIN Sección del main de la página */
/* ------------------------ */
/* ------------------------ */
/* Sección de "PAGINA: Cartas" */
/* ------------------------ */
.infomain-cartas {
  background-color: #e4e4e4; }

.cont-pjs, .cont-pjs-k {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  /* padding: 100px; */
  background-color: black;
  image-orientation: inherit; }

.cont-text-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  align-content: center; }

.linea {
  width: 270px;
  height: 10px; }

.cont-pjs:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* INICIOI responsive para celu texto arriba e imagen abajo */
.cont-pjs-j {
  flex-direction: column-reverse; }

.cont-pjs-k {
  flex-direction: column-reverse; }

.cont-pjs-10-10 {
  flex-direction: column-reverse; }

.cont-pjs-j-j {
  flex-direction: column-reverse; }

.cont-pjs-k-k {
  flex-direction: column-reverse; }

/* FIN responsive para celu texto arriba e imagen abajo */
/* INICIO colores de los fondos por personaje */
.cont-pjs-10:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #566096 10%, #530a53, #010008 70%);
  opacity: .75; }

.cont-pjs-j:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #336988 10%, #080053, #010008 70%);
  opacity: .75; }

.cont-pjs-q-j:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #9f49a7, #530041, #160016 35%, #010008 70%);
  opacity: .75; }

.cont-pjs-k:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #ff1b1b, #530000, #000216 35%, #010008 70%);
  opacity: .75; }

.cont-pjs-a:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #b99700 10%, #580000 35%, black 70%);
  opacity: .75; }

.cont-pjs-10-10:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #b37a00 10%, #3f260e, black 70%);
  opacity: .75; }

.cont-pjs-10-10-b:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #7a5e21 10%, #251505, black 70%);
  opacity: .75; }

.cont-pjs-j-j:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, red, #300000 35%, black 70%);
  opacity: .75; }

.cont-pjs-q-q:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #ff2566, #3f0000 35%, black 70%);
  opacity: .75; }

.cont-pjs-k-k:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #c5a800, #06002b 35%, black 70%);
  opacity: .75; }

.cont-pjs-a-a:before {
  background-attachment: fixed;
  background-image: radial-gradient(circle, #cc7a00, #0e0016 40%, #020008 70%);
  opacity: .75; }

/* FIN colores de los fondos por personaje */
.texto-pjs {
  margin: 50px 30px 15px;
  width: 300px;
  color: white;
  z-index: 2; }
  .texto-pjs h5 {
    width: 300px;
    font-weight: 800; }
  .texto-pjs h6 {
    font-weight: 800; }
  .texto-pjs h6, .texto-pjs h5, .texto-pjs p {
    margin: 0px; }

.img-pjs {
  margin-right: 25px;
  margin-left: 25px;
  z-index: 2; }

/* GIRAR CONTENEDORES TUTORIAL */
.tut1 {
  flex-direction: column-reverse; }

/*FIN CONTENEDORES TUTORIAL*/
/* ------------------------ */
/* MAIN CONTACTO */
/* ------------------------ */
.contactomain {
  background-color: black;
  color: white;
  image-orientation: inherit; }
  .contactomain ul li a {
    text-decoration: none; }

.formulario {
  margin: 50px 25px 50px 25px; }

.datocont {
  margin: 50px 25px 50px 25px; }

.ayudacont {
  margin: 50px 25px 0px 25px; }
  .ayudacont h6 {
    text-shadow: 3px 1px 3px black, 1px 1px 2px black, 0 0 25px black, 0 0 5px grey; }

.h4form {
  font-size: 40px;
  margin-bottom: 20px; }

.cont2 {
  color: white;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center !important; }
  .cont2 p {
    text-align: center !important; }

/* ------------------------ */
/* FOOTER */
/* ------------------------ */
footer {
  grid-area: footer; }

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
  position: relative;
  /* padding: 100px; */ }

.footer-list {
  margin-bottom: 100px; }

.ul-footer {
  margin-top: 100px; }

@media screen and (max-width: 415px) {
  .pj-pc {
    display: none; }
  .infomain {
    padding: 60px 0 60px 0; }
    .infomain div {
      margin: 10px 0 10px 0; } }

@media screen and (min-width: 768px) {
  .pj-cel {
    display: none; }
  .navbar-brand {
    margin-right: 3rem; }
  .navbar-nav {
    margin-top: 0px; }
  .botonh {
    margin-top: 0px; }
  .logo {
    margin: 0; }
  .menu {
    margin-bottom: 0; }
  .social-media {
    margin-bottom: 0;
    visibility: visible; }
  .slidermain {
    height: 60vh;
    padding: 100px;
    font-family: 'Play', sans-serif; }
    .slidermain h1 {
      font-size: 100px;
      line-height: 0.75;
      margin: 50px 0px 50px 0px; }
    .slidermain h6 {
      font-size: 35px; }
  .sliderlinea {
    width: 450px;
    height: 10px; }
  .navmain {
    grid-template-areas: "logo menu social-media" "slider slider slider" "main main main" "footer footer footer"; }
  main .infoback-pag {
    padding: 150px 0 150px 0; }
  .infomain {
    height: 100vh;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-self: center;
    align-items: center; }
  .cont-pjs, .cont-pjs-k {
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    align-content: center; }
  .linea {
    width: 90%;
    height: 90%; }
  .linea-titulo {
    width: 90%;
    height: 20%; }
  .texto-titulo {
    width: 600px; }
  .texto-pjs {
    margin: 0 50px 0;
    width: 400px; }
  .ayudacont {
    margin: 0 25px 0; }
    .ayudacont h6 {
      color: #dac274;
      text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px grey; }
  .cont2 {
    flex-direction: row; } }
