:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
    
    --bufon1: rgb(173, 255, 170);
    --bufon2: #d49bee;
    --bufonfront: url(../img/cartabufon.webp);
    
    --bufon-roba1: rgb(170, 238, 255);
    --bufon-roba2: #ee9b9b;
    --bufon-robafront: url(../img/cartabufon-roba.webp);
    
    --gangster1: #54a29e;
    --gangster2: #66a3a7;
    --gangsterfront: url(../img/cartagangster.webp);
    
    --gangster-51: #a25454;
    --gangster-52: #a79666;
    --gangster-5front: url(../img/cartagangster-limitada.webp);
    
    --sibila1: #fbb2df;
    --sibila2: #daacf8;
    --sibilafront: url(../img/cartasibila.webp);
    
    --sibila-oscura1: #fbb2b2;
    --sibila-oscura2: #838383;
    --sibila-oscurafront: url(../img/cartasibila-oscura.webp);
    
    --bruja1: #fbb2be;
    --bruja2: #dcacf8;
    --brujafront: url(../img/cartabruja.webp);
    
    --bruja-oscura1: #fbb2be;
    --bruja-oscura2: #868686;
    --bruja-oscurafront: url(../img/cartabruja-mitad.webp);
   
    --pope1: #befbb2;
    --pope2: #78df97;
    --popefront: url(../img/cartapope-utiliza.webp);
    
    --darkpope1: #d8a1fc;
    --darkpope2: #a676c2;
    --darkpopefront: url(../img/cartapope-cancela.webp);
   
    --senadores-paola1: #ffe18e;
    --senadores-paola2: #fca1a1;
    --senadores-paolafront: url(../img/cartasenadores-paola.webp);
    
    --senadores-abel1: #eedd80;
    --senadores-abel2: #f8a46b;
    --senadores-abelfront: url(../img/cartasenadores-abel.webp);
   
    --emperador1: #fca1a1;
    --emperador2: #f04d4d;
    --emperadorfront: url(../img/cartaemperador.webp);
    
    --emperador-oscuro1: #8f8f8f;
    --emperador-oscuro2: #a1aafc;
    --emperador-oscurofront: url(../img/cartaemperador-oscuro.webp);
    
    --emperatriz1: #e77286;
    --emperatriz2: #ad6972;
    --emperatrizfront: url(../img/cartaemperatriz.webp);
    
    --emperatriz-oscura1: #b1b1b1;
    --emperatriz-oscura2: #ba88db;
    --emperatriz-oscurafront: url(../img/cartaemperatriz-oscura.webp);
    
    --cain1: #8d94ce;
    --cain2: #ece57f;
    --cainfront: url(../img/cartacain.webp);
   
    --cain-oscuro1: #fca1a1;
    --cain-oscuro2: #8f8f8f;
    --cain-oscurofront: url(../img/cartascain-oscura.webp);
   
    --lilith1: #d8a1fc;
    --lilith2: #fceba1;
    --lilithfront: url(../img/cartalilith.webp);
   
    --lilith-oscura1: #7d668d;
    --lilith-oscura2: #ad6262;
    --lilith-oscurafront: url(../img/cartalilith-oscura.webp);
  } 
    
  
  .card2 {
  
    width: 61vw;
    height: 85vw;
      // width: clamp(200px, 61vh, 18vw);
      // height: clamp(280px, 85vh, 25.2vw);
    @media screen and (min-width: 600px) {
      // width: 61vh;
      // height: 85vh;
      max-width: 215px;
      max-height: 301px;
      // max-width: 500px;
      // max-height: 700px;
      // width: clamp(12.9vw, 61vh, 18vw);
      // height: clamp(18vw, 85vh, 25.2vw);
    }
    
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
    
    border-radius: 5% / 3.5%;
    box-shadow: 
      -5px -5px 5px -5px var(--color1), 
      5px 5px 5px -5px var(--color2), 
      -7px -7px 10px -5px transparent, 
      7px 7px 10px -5px transparent, 
      0 0 5px 0px rgba(255,255,255,0),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
    
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    
    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
    
  }
  
  .card2:hover {
    box-shadow: 
      -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2), 
      0 0 13px 4px rgba(255,255,255,0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  
  // cartas, colores e imagen
  
  .card2.bufon {
    --color1: var(--bufon1);
    --color2: var(--bufon2);
    --front: var(--bufonfront);
  }

  .card2.bufon-roba {
    --color1: var(--bufon-roba1);
    --color2: var(--bufon-roba2);
    --front: var(--bufon-robafront);
  }
  
  
  .card2.gangster {
    --color1: var(--gangster1);
    --color2: var(--gangster2);
    --front: var(--gangsterfront);
  }
  
  .card2.gangster-5 {
    --color1: var(--gangster-51);
    --color2: var(--gangster-52);
    --front: var(--gangster-5front);
  }
  
  
  .card2.sibila {
    --color1: var(--sibila1);
    --color2: var(--sibila2);
    --front: var(--sibilafront);
  }
  
  .card2.sibila-oscura {
    --color1: var(--sibila-oscura1);
    --color2: var(--sibila-oscura2);
    --front: var(--sibila-oscurafront);
  }
  
  
  .card2.bruja {
    --color1: var(--bruja1);
    --color2: var(--bruja2);
    --front: var(--brujafront);
  }
  
  .card2.bruja-oscura {
    --color1: var(--bruja1);
    --color2: var(--bruja2);
    --front: var(--bruja-oscurafront);
  }
  
  .card2.pope {
    --color1: var(--pope1);
    --color2: var(--pope2);
    --front: var(--popefront);
  }
  
  .card2.darkpope {
    --color1: var(--darkpope1);
    --color2: var(--darkpope2);
    --front: var(--darkpopefront);
  }

    .card2.senadores-paola {
    --color1: var(--senadores-paola1);
    --color2: var(--senadores-paola2);
    --front: var(--senadores-paolafront);
  }
  
  .card2.senadores-abel {
    --color1: var(--senadores-abel1);
    --color2: var(--senadores-abel2);
    --front: var(--senadores-abelfront);
  }

  .card2.emperador {
    --color1: var(--emperador1);
    --color2: var(--emperador2);
    --front: var(--emperadorfront);
  }
  
  .card2.emperador-oscuro {
    --color1: var(--emperador-oscuro1);
    --color2: var(--emperador-oscuro2);
    --front: var(--emperador-oscurofront);
  }

  
  .card2.emperatriz {
    --color1: var(--emperatriz1);
    --color2: var(--emperatriz2);
    --front: var(--emperatrizfront);
  }
  
  .card2.emperatriz-oscura {
    --color1: var(--emperatriz-oscura1);
    --color2: var(--emperatriz-oscura2);
    --front: var(--emperatriz-oscurafront);
  }

  
  .card2.cain {
    --color1: var(--cain1);
    --color2: var(--cain2);
    --front: var(--cainfront);
  }

  
  .card2.cain-oscuro {
    --color1: var(--cain-oscuro1);
    --color2: var(--cain-oscuro2);
    --front: var(--cain-oscurofront);
  }
  
  .card2.lilith {
    --color1: var(--lilith1);
    --color2: var(--lilith2);
    --front: var(--lilithfront);
  }

  .card2.lilith-oscura {
    --color1: var(--lilith-oscura1);
    --color2: var(--lilith-oscura2);
    --front: var(--lilith-oscurafront);
  }

  .card2:before,
  .card2:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .4;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
  }
  
  .card2:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      var(--color1) 25%,
      transparent 47%,
      transparent 53%,
      var(--color2) 75%,
      transparent 100%
    );
    opacity: .7;
    filter: brightness(.3) contrast(1);
    z-index: 1;
  }
  
  .card2:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
      url(https://assets.codepen.io/13471/holo.png), 
      linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
  }
  
  .card2.active:after,
  .card2:hover:after {
    filter: brightness(1) contrast(1);;
    opacity: 1;
  }
  
  .card2.active,
  .card2:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
  }
  
  .card2.active:before,
  .card2:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .40;
    filter: brightness(.66) contrast(1.33);
    transition: none;
  }
  
  .card2.active:before,
  .card2:hover:before,
  .card2.active:after,
  .card2:hover:after {
    animation: none;
    transition: none;
  }
  
  .card2.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before { 
      transition: none;
      animation: holoGradient 12s ease 0s 1;
    }
    &:after {
      transition: none;
      animation: holoSparkle 12s ease 0s 1;
    }
  }
  
  
  
  
  @keyframes holoSparkle {
    0%, 100% {
      opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
    }
    5%, 8% {
      opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
    }
    13%, 16% {
      opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
    }
    35%, 38% {
      opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
    }
    55% {
      opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
    }
  }
  
  @keyframes holoGradient {
    0%, 100% {
      opacity: 0.5;
      background-position: 50% 50%;
      filter: brightness(.5) contrast(1);
    }
    5%, 9% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.75) contrast(1.25);
    }
    13%, 17% {
      background-position: 0% 0%;
      opacity: .88;
    }
    35%, 39% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.5) contrast(1);
    }
    55% {
      background-position: 0% 0%;
      opacity: 1;
      filter: brightness(.75) contrast(1.25);
    }
  }
  
  @keyframes holoCard {
    0%, 100% {
      transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%, 8% {
      transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%, 16% {
      transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%, 38% {
      transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
      transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
  }
  

  
  .demo .card2 {
    background-image: var(--back);
    font-size: 2vh
  }
  .demo .card2 > span {
    position: relative;
    top: 45%;
  }
  
  .demo .card2:nth-of-type(1),
  .demo .card2:nth-of-type(2),
  .demo .card2:nth-of-type(3) {
    width: 20vh;
    height: 27.5vh;
    box-shadow: inset 0 0 0 1px rgba(white,0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
    animation: none;
  }
  
  .demo .card2:nth-of-type(1),
  .demo .card2:nth-of-type(2),
  .demo .card2:nth-of-type(3) {
    &:before, &:after {
      animation: none;
      // opacity: 1;
    } 
  }
  .demo .card2:nth-of-type(1) {
    &:before, &:after { display: none; }
  }
  .demo .card2:nth-of-type(2) {
    background: none;
    &:before { display: none; }
  }
  .demo .card2:nth-of-type(3) {
    background: none;
    &:after { display: none; }
  }
  
  .operator {
    display: inline-block;
    vertical-align: middle;
    font-size: 6vh;
  }
  
  
  
  
  
  
  .demo,
  .card2s { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px )
  }
  .demo {
    flex-direction: row;
    justify-content: center;
  }
  
  @media screen and (min-width: 600px) {
    .card2s {
      flex-direction: row;
    }
  }
  
  
  
  
  
  
  .card2s .card2 {
  &:nth-child(2) {
    &, &:before, &:after {
      animation-delay: 0.25s;
    }
  }
  &:nth-child(3) {
    &, &:before, &:after {
      animation-delay: 0.5s;
    }
  }
  &:nth-child(4) {
    &, &:before, &:after {
      animation-delay: 0.75s;
    }
  }
}