* {

    margin: 0px;

} 

nav{
    z-index: 3;
}

.contenedor {

    /* clases de flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap-reverse; */
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
    align-content: center;
}




.navmain ul li {
   
    display: inline-block;
    /* margin: 0 5px; */
    text-align: center;
    
}

.navmain {
    background-color: black;
    color: white;
    image-orientation: inherit;
    font-family: 'Play', sans-serif;
    font-size: large;
    font-weight: 500;
    padding: 5px;   
    position: sticky;
    top: 0; 
    
    /* Estilo grid */
    display: grid;
    grid-template-areas:
    "logo" 
    "menu" 
    /* "social-media" */
    "slider"
    "main"
    "footer"
    ;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/* Para grid */
.logo {
    grid-area: logo;
    margin: 25px 0 25px 0;
    padding-left: 40px;
}

.menu {
    grid-area: menu;
    margin-bottom: 25px;
}

.social-media {
    grid-area: social-media;
    margin-bottom: 25px;
    visibility: hidden;
}

.slidermain {
    grid-area: slider;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
/* FIN de grid */

.botonh{
    margin-top: 50px;
}

.navmain ul li a {
    
    display: inline-block;
    text-decoration: none;
}

.navmain ul li a:hover, a:active {
    text-shadow: 2px 2px 4px #9b9b9b, 0 0 10px #4b4b4b, 0 0 50px white, 1px 1px 4px black;
    
}

.navbar-nav{
    margin-top: 50px;
}

/* --------------------------------------- */
/* SLIDER MAIN DE TODAS LAS PÁGINAS */
/* --------------------------------------- */

.slidermain {
    
    background-image: url(img/banner.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
    padding: 40px;
    background-color: black;
    color: white;
    image-orientation: inherit;
    font-family: 'Play', sans-serif;
    
}

.sliderlinea {
    width: 90%; 
    height: 10px;
}

.slidermain h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 70px;
    text-align: left;
    line-height: 0.75;
    text-shadow: 2px 2px 4px #9b9b9b, 0 0 10px rgb(218, 194, 116), 0 0 50px black, 1px 1px 4px black;
    margin: 50px 0px 50px 0px;
    
}

.slidermain h6 {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    color: rgb(218, 194, 116);
}

.videomain{
    width: 100%;
    height: 55.25vw;
}

/* ------------------------ */
/* INICIO Sección del main de la página */
/* ------------------------ */

.infoback{
    background-image: url(img/banner-con.jpg) ;
}

.infomain {
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 5px;
    background-color: #e4e4e4;
    display: grid;
    
            
    
    grid-column: 3fr;
    justify-content: center;
    align-content: center;
    align-items: flex-start; 

    /* grid-template-columns: 50px 80px 100px; */
    /* grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 50px 150px 80px; */

    /* grid-template-areas: 
    "header header"
    "nav main"
    "footer footer"
    ; */

    /* justify-items: flex-start; */
    /* align-items: start; */

    /* grid-gap: 1%; */
    
}

.noti1 {
    
    width: 240px;
    margin: 0 10px 0;
    border: inset 1px rgb(218, 194, 116);
    text-align: center;
    background-color: white;

}
.noti1 h4 {
    margin: 20px 20px 30px 20px;
    font-family: philosopher, serif;

}

.noti1 p {
    margin: 30px 20px 40px 20px;
    padding: 0px 10px 0px;
    
    text-align: center;
}

.noti1 div {
    color: #e4e4e4;
}

/* ------------------------ */
/* FIN Sección del main de la página */
/* ------------------------ */


/* ------------------------ */
/* Sección de "PAGINA: Cartas" */
/* ------------------------ */


.infomain-cartas {
    
    
    background-color: #e4e4e4;
    

}

.cont-pjs, .cont-pjs-k {

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 135vh;
    position: relative;
        /* padding: 100px; */
    background-color: black;
    
    image-orientation: inherit;

    
        
    
}

.linea{
    width: 270px; ;
    height: 10px; ;
}

.cont-pjs:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    
  }

/* INICIO colores de los fondos por personaje */

.cont-pjs-10:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(86, 96, 150) 10%, #530a53, rgb(1, 0, 8) 70%);
    opacity: .75; 

}

/* INICIOI responsive para celu texto arriba e imagen abajo */

.cont-pjs-j{
    flex-direction: column-reverse;
}

.cont-pjs-k{
    flex-direction: column-reverse;
}

.cont-pjs-10-10{
    flex-direction: column-reverse;
}

.cont-pjs-j-j{
    flex-direction: column-reverse;
}

.cont-pjs-k-k{
    flex-direction: column-reverse;
}

/* FIN responsive para celu texto arriba e imagen abajo */

.cont-pjs-j:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(51, 105, 136) 10%, #080053, rgb(1, 0, 8) 70%);
    opacity: .75; 
    

}

.cont-pjs-q-j:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(159, 73, 167), #530041, #160016 35%, rgb(1, 0, 8) 70%);
    opacity: .75; 

}

.cont-pjs-k:before {
        background-attachment: fixed;
        background-image: radial-gradient(circle,rgb(255, 27, 27), #530000, #000216 35%, rgb(1, 0, 8) 70%);
        opacity: .75; 
    
}

.cont-pjs-a:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(185, 151, 0) 10%,  #580000 35%, black 70%);
    opacity: .75; 

}

.cont-pjs-10-10:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(179, 122, 0) 10%, #3f260e, black 70%);
    opacity: .75; 

}
.cont-pjs-10-10-b:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(122, 94, 33) 10%, #251505, black 70%);
    opacity: .75; 

}

.cont-pjs-j-j:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(255, 0, 0),  #300000 35%, black 70%);
    opacity: .8; 

}

.cont-pjs-q-q:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(255, 37, 102), #3f0000 35%, black 70%);
    opacity: .8; 

}

.cont-pjs-k-k:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(197, 168, 0), #06002b 35%, black 70%);
    opacity: .8; 

}

.cont-pjs-a-a:before {
    background-attachment: fixed;
    background-image: radial-gradient(circle,rgb(204, 122, 0),#0e0016 40%, rgb(2, 0, 8) 70%);
    opacity: .8; 

}
/* FIN colores de los fondos por personaje */

.texto-pjs {
    margin: 50px 30px 15px;
    width: 300px;
    color: white;
    z-index: 2;
    
    
}

.texto-pjs h5{
    width: 300px;
    
}

.img-pjs {
    margin-right: 25px;
    margin-left: 25px;
    z-index: 2;
    
    
}

.texto-pjs h6, h5, p {
    margin: 0px;
    
}



/* GIRAR CONTENEDORES TUTORIAL */

.tut1{
    flex-direction: column-reverse;
}

/*FIN CONTENEDORES TUTORIAL*/


/* ------------------------ */
/* MAIN CONTACTO */
/* ------------------------ */

.contactomain {
    background-color: black;
    color: white;
    image-orientation: inherit;
    font-family: 'Play', sans-serif;

}

.contactomain ul li a {
    
    text-decoration: none;
}

.contactomain ul li a:hover, a:active {
    color:rgb(218, 194, 116);
}

.formulario {
    margin: 50px 25px 50px 25px;
}

.datocont {
    margin: 50px 25px 50px 25px;
}

.ayudacont {
    margin: 50px 25px 0px 25px;
}

.h4form {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.ayudacont h6{
    color: rgb(218, 194, 116);
    text-shadow: 3px 1px 3px black, 1px 1px 2px black, 0 0 25px black, 0 0 5px grey;
}


.cont2{
    color:white;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    text-align: center !important;
}

.cont2 p{
    text-align: center !important;
}

/* ------------------------ */
/* FOOTER */
/* ------------------------ */

.footer-nav {

    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    position: relative;
        /* padding: 100px; */
        
    
}

.footer-list {
    
    margin-bottom: 100px;
}

.footer-list p{
    color: rgb(218, 194, 116);
}

.footer-list a:hover{
    color: rgb(218, 194, 116);
}

.ul-footer {
    margin-top: 100px;
}

/* ------------------------ */
/* ------------------------ */
/* ------------------------ */
/* SELECTORES generales de la página 0-0-1 */
/* ------------------------ */
/* ------------------------ */
/* ------------------------ */
img {
    transition-property: all;
    transition-duration: .5s;
    transition-delay: .5s;
    transition-timing-function: ease;
}

img:hover {
    transform: scale(1.05);
}

label {
    font-family: 'Play', sans-serif;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
}

input {
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
}

p {
    font-family: 'Play', sans-serif;
    font-size: 17px;
    font-weight: 200;
    text-align: left;
}

h6 {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    margin: 0px;
}

h5 {
    font-family: 'Play', sans-serif;
    font-size: 45px;
}

h4 {
    font-family: 'Play', sans-serif;
    font-size: 55px;
    margin:0px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .5s;
    transition-timing-function: ease;
}

h3 {
    font-family: 'Philosopher', sans-serif;
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 80px;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 90px;
    margin: 0px;
}

a{
    color: white;
    font-family: 'Play', sans-serif;
}

ul {
    margin: 0px;
    display: inline-block;
}

ul li {
   
    display: block;
    /* margin: 0 5px; */
    
    
}

nav ul li {
   
    display: block;
    margin: 0 10px;
    
    
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;

}



@media screen and (min-width: 768px){
    
    .navbar-brand {
        
        margin-right: 3rem;
    }

    .navbar-nav{
        margin-top: 0px;
    }

    .botonh{
        margin-top: 0px;
        
    }
    
    .logo {
        
        margin: 0;
    }
    
    .menu {
        
        margin-bottom: 0;
    }
    
    .social-media {
        
        margin-bottom: 0;
        visibility: visible;
    }
    
    
    .slidermain {
    
        height: 60vh;
        padding: 100px;
       
        font-family: 'Play', sans-serif;
    }
    
    
    .slidermain h1 {
        
        font-size: 100px;
        
        line-height: 0.75;
        
        margin: 50px 0px 50px 0px;
        
    }
    
    .slidermain h6 {
        
        font-size: 35px;
        
        
        
    }

    .sliderlinea {
        width: 450px; 
        height: 10px;
        
    }

    .navmain {
    grid-template-areas:
    "logo menu social-media"
    "slider slider slider"
    "main main main"
    "footer footer footer"
    ;
    }
    
  


    .infomain {
    
        height:100vh;    
        display: grid;
        grid-template-columns: min-content min-content min-content;
        align-self: center;
        align-items: center;
        
                
    }

    .cont-pjs, .cont-pjs-k {

        flex-direction: row;
        height: 50vh;
        justify-content: center;
    }

 

    .linea{
        width: 90%; 
        height: 90%;
    }

    .texto-pjs{
        margin: 0 50px 0;
        width: 400px;
    }

    .ayudacont{
        margin: 0 25px 0;
    }

    .ayudacont h6{
        color: rgb(218, 194, 116);
        text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px grey;
    }

    .cont2{
        
        flex-direction: row;
        
    }


}

/* prueeba de cartas giradas */

/* *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } */
  
  /* h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  } */
  
  /* prueeba de cartas giradas */
  /* .wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  } */